@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <link rel="stylesheet" href="~/css/ErrorStyles.css">
</head>

<h1>Возникла ошибка</h1>

<h1><a asp-action="Book" asp-controller="Home" class="btn">Вернуться на главную страницу</a></h1>