body {
    text-align: center;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

a {
    color: #333;
}

.btn {
    color: #333;
    margin: 10px;
    background: white;
    border: none;
    padding: 15px;
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 8px 9px rgba(0, 0, 0, 0.2);
}